.DS_STORE
.env
.firebaserc
.next
.vscode/ltex.dictionary.en-US.txt
*.crt
*.key
*.pem
*.txt
build
env.json
firebase-config.json
functions/lib/**/*.js
functions/lib/**/*.js.map
node_modules
out
secrets.json
service-account.json
sitemap.xml
src/.next
src/build
src/cypress
src/cypress.config.ts
src/out
tsconfig.tsbuildinfo