name: Tag

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  Tag:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.7.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set variables needed for building the images
        id: variables
        run: echo "NEXT_PUBLIC_VERSION=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build the client and push it to the GitHub Container Registry
        uses: docker/build-push-action@v6.9.0
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository }}/client:${{ github.ref_name }}, ghcr.io/${{ github.repository }}/client:latest
          build-args: NEXT_PUBLIC_VERSION=${{ steps.variables.outputs.NEXT_PUBLIC_VERSION }}

      - name: Build the authentication server and push it to the GitHub Container Registry
        uses: docker/build-push-action@v6.9.0
        with:
          context: .
          file: Dockerfile.server
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository }}/authentication-server:${{ github.ref_name }}, ghcr.io/${{ github.repository }}/authentication-server:latest
          build-args: NEXT_PUBLIC_VERSION=${{ steps.variables.outputs.NEXT_PUBLIC_VERSION }}
